.searchBarComponent{
    display: flex;
    border-style: solid;
    border-width: thin;
    border-color: #808080;
    border-radius: 10000px;
    padding: 5px 20px;

    align-items: center;
    justify-content: center;
    
    flex-direction: row;
}

input{
    border-width: 0px;
    box-sizing: border-box;
    background-color: transparent;

    margin-left: 10px;

    font-size: 18px;
    line-height: 21px;

    text-align: justify;
    letter-spacing: 0.01em;
}