.toolComponent{
    border-width: thin;
    border-style: solid;
    border-color: #808080;
    border-radius: 4px;
    padding: 15px 20px ;
}
.toolTitle{
    color: #0089BB;
    font-size: 36px;
    text-align: justify;
}
.toolDescription{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 10px;
}

.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 20px 10px  ;
}

.removeButton{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: 18;
    color: black;
    font-style: normal;
}

strong{
    font-size: 18px;
    margin-right: 5px;
    
}