#App {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px, 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);

}

h1{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: calc(48px + 1vmin);
  text-align: justify;
  letter-spacing: 0.01em;
  color: #0089BB;
  margin-bottom: 10px;
}

h2{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: calc(29px + 1vmin);
/* identical to box height */

text-align: justify;
letter-spacing: 0.01em;

color: #000000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  margin: 10px 10px;
  margin-top: 10%;
}

.toolContainer{
  margin: 20px;
}

.settingsBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  padding-bottom: 10px;
  justify-content: space-between;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.onlyTagsLabel{
  font-size: 14px;
  line-height: 16px;
}

.SearchBarContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.addButton{
  background: #0089BB;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.5s;
  font-size: 21px;
}

.addButton:hover{
  background: #0076a2;
}